html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}

/* always display scrollbars */
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {   
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 12pt;
    background: linear-gradient(182.54deg, #c8daf4 20.95%, #7996F0 134.42%);
    @include background();
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

strong {
    font-weight: bold;
}

input {
    outline: none;
    box-sizing: border-box; 
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

section:first-child{
    margin: 0 0 0 0!important;
}

section{
    margin: 100px 0 100px 0;
}

.bold {
    font-weight: bold !important;
}

.pointer {
    cursor: pointer !important;
}

.container-main {
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;

    @media (max-width: 640px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.container-small {
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 65px;
    padding-right: 65px;

    @media (max-width: 640px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    color: white;
}